@import './element-variables.scss';
@import './variables.scss';
@import './mixin.scss';
 
.flex-wrap-wrap {
    flex-wrap: wrap;
}

a {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
}
a:active,
a:hover {
    text-decoration: none;
    outline: 0;
}
a:active {
    color: #096dd9;
}
a:hover {
    color: #40a9ff;
}
 
.border-solid-transparent{
    border: solid 1px transparent;
}

.text-align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.padding-t10 {
    padding-top: 10px;
}

.cursor-pointer {
    cursor: pointer;
}
.index-layout-leftmenu .el-submenu__title, .index-layout-leftmenu .el-menu-item {
    height: 60px;
    line-height: 60px;
   
}
 
.index-layout-leftmenu .el-menu-item {
    height: 60px;
    line-height: 60px;
}
.el-table--small td {
    padding: 16px 0;
}
.el-table--small {
    font-size: 14px;
}
.el-button--small{
    font-size: 14px;
}
.el-breadcrumb {
    font-size: 16px;
    font-weight: bold;
}
